body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url("images.jfif") ;
background-size: cover;
text-align: center;
color:white;
font-weight: bold;
font-size: xx-large ;
}
h1{
    color:black;
}
#message-el{
     font-style: italic;
}
button{
    color:black;
    width:400px;
    height: 100px;
    background:white;
    padding-top: 40px;
    padding-bottom: 85px;
    font-weight: bolder;
    font-size: larger;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 9px;
    text-align: center;
   
    
    
}